<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

	<div class="w3-panel w3-padding-32">
		<h1>Spring Boot with Cliente Iterable List from BD H2</h1>
		<h3>Table of cliente</h3>

		<table class="w3-table-all">

			<tr class="w3-black w3-hover-teal">

				<td > id</td>
				<td > name</td>
				<td > surname </td>
				<td > age</td>
				<td> email</td>
				<td > salary</td>
				<td> password</td>
				<td> delete</td>
			</tr>

			<tr th:each="cliente:${clienteListfromControllerAndDB}">


				<td th:text="${cliente.id}"></td>
				<td th:text="${cliente.name}"></td>
				<td th:text="${cliente.surname}"></td>
				<td th:text="${cliente.age}"></td>
				<td th:text="${cliente.email}"></td>
				<td th:text="${cliente.monthSalary}"></td>
				<td th:text="${cliente.password}"></td>

				<td > <a th:href="@{deleteCliente(id=${cliente.id})}"
					class="w3-button w3-red">Delete</a>

					<a th:href="@{detailCliente(id=${cliente.id})}"
					class="w3-button w3-teal">Detail</a> 
					<a th:href="@{updateCliente(id=${cliente.id})}"
					class="w3-button w3-blue">Update</a></td>
					

			</tr>
		</table>


	</div>
</html>