<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to our site</title>
</head>

<body>

	<div layout:fragment="content">

		<div class="w3-card-4 w3-display-middle" style="width: 40%">

			<header class="w3-container w3-red">
				<h3>Deleted operation cliente from the H2 DB</h3>
			</header>
			<div class="w3-container w3-light-grey">

				<h3>
					Operation status: <span th:text="${message}" />
				</h3>
				<p th:text="'Entity deleted: ' + ${clienteDeleted}"></p>
			</div>
		</div>
	</div>

</body>
</html>